<header>
  <h1>Make Someone's Day on Your Daily Commute.</h1>
  <ul>
    <li><a href="#">Sign up!</a></li>
    <li><a href="#">Sign in.</a></li>
    <li><a href="#">About</a></li>
  </ul>
</header>

<section class="site-description">
  <h2>Reunite Vehicles with Their Owners</h2>
</section>

<div class="row">
  <div class="container">
    <div class="col-md-3">
      <h3>Sign up!</h3>
    </div>
    <div class="col-md-3">
      <h3>Tag a plate.</h3>
    </div>
    <div class="col-md-3">
      <h3>Search a plate.</h3>
    </div>
  </div>
</div>
