/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'bootstrap-sass-official'
 *= require_tree .
 *= require_self
 */
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';

html {
  background-color: #fff;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('ticket.jpg');
  background-size: cover;;
  background-position: center;
  height: 100vh;
}

header h1 {
  color: #fff;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 240%;
  font-weight: 300;
}

// Form Validation Color
input.form-control.ng-invalid {
  border: 2px solid #FA787E;
}

input.form-control.ng-valid.ng-dirty {
  border: 2px solid #9eef23;
}

.spacer-5 {
  margin-top: 5px;
}

.padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.eighty-wide {
  width: 80%;
}

.center {
  text-align: center;
}

#map {
    height:420px;
    width:600px;
}

// Loader
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    left: 50%;
    margin-left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@import 'media.scss';
